
<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
<script src="/public/javascripts/app.js"></script>

<script>
	var app = function() {
		var $ = document.querySelector.bind(document),
			$$ = document.querySelectorAll.bind(document),

			{{$js-functions}}
				func = function() {}
			{{/js-functions}},

			{{$js-initialisation}}
				init = function() {}
			{{/js-initialisation}},

			{{$js-objects}}
				el = {}
			{{/js-objects}},

			setDisabled = function(target, disabled) {
				target.disabled = disabled ? true : false;
			},
			setDisplay = function(target, display) {
				target.style.display = display ? 'block' : 'none';
			};
		return {
			init: init
		}
	}();
	app.init();
</script>