{{<layouts/1-column}}

    {{$h1}}Dart Charge payment 87654321{{/h1}}

    {{$column-1}}
    	 <div class="panel-indent">
        <p>Vehicle YG59RZW</p>
        <p>Payment date 01/11/2014<p>
        <p>Payment amount £12.50 (5 crossings)</p>
       </div>
       
       <p>You have made 3 crossings against this payment as follows:</p>

        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Direction</th>
              <th style="text-align:center;">Class</th>
              <th style="text-align:right;">Charge</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01/11/2014</td>
              <td>20:23:33</td>
              <td>Northbound</td>
              <td style="text-align:center;">B</td>
              <td style="text-align:right;">£2.50</td>
            </tr>
            <tr>
              <td>01/11/2014</td>
              <td>21:23:33</td>
              <td>Southbound</td>
              <td style="text-align:center;">B</td>
              <td style="text-align:right;">£2.50</td>
            </tr>
            <tr>
              <td>02/11/2014</td>
              <td>07:23:33</td>
              <td>Northbound</td>
              <td style="text-align:center;">B</td>
              <td style="text-align:right;">£2.50</td>
            </tr>
         </tbody>
           </tfoot>
              <tr>
              <th colspan="4" style="text-align:right;">TOTAL</th>
              <th style="text-align:right;">£7.50</th>
            </tr>
          </tfoot>
         </table>
         <br />
         <p>You have 2 crossings remaining.  They will expire at midnight on 31/10/2015.</p>
         <p>Crossings are valid for 1 year from the date they were paid for.</p>

  {{/column-1}}

{{/layouts/1-column}}