{{<layouts/static}}

    {{$h1}}Apply for a local residents&#39; discount{{/h1}}

    {{$column-1}}
<p>The local residents&#39; discount scheme is available to people who live in the Dartford and Thurrock council tax zones.</p>
<p>Accounts are registered for one year and must be renewed annually.</p>
<p>The scheme only applies to personal vehicle use and only one vehicle can be registered for each resident.</p>
<h2 class="heading-24">Existing DART-Tag account holders</h2>
<p>Existing DART-Tag account holders should apply for a local residents&#39; discount through <a href="https://www.dart-tag.co.uk/nossl/home.php">Connect Plus</a>.</p>
<h2 class="heading-24">Existing Dart Charge account holders</h2>
<p>Existing Dart Charge account holders can apply for a local residents&#39; discount from within their <a href="http://test.dart-charge.co.uk/Security/SignIn">Dart Charge account</a>.</p>
<h2 class="heading-24">Registering a new account for when Dart Charge goes live</h2>
<p><strong>Please be aware that your local residents&#39; discount will not be activated until proof of residence and vehicle ownership have been confirmed. We will let you know when this has happened.</strong></p>
<p>Until then, you’ll have a standard account. No accounts will activated until the Dart Charge scheme goes live.</p>
<h3 class="heading-19">You will need</h3>
<ul class="list-bullet">
    <li>Proof of residency; you can scan documents or post them to us </li>
    <li>Proof of vehicle ownership at the registered address</li>
    <li>Registration number for vehicles(s) you  want to register</li>
    <li>£10 or £20 payment to activate your account balance</li>
    <li>Payment details for automatic top up and direct debit</li>
</ul>
<h3 class="heading-19">Limited discount</h3>
<p><a href="http://test.dart-charge.co.uk/Registration/RegisterLocalResident?Option=OptionA">Apply for a local residents&#39; limited discount</a> (£10 per year for 50 crossings then 20p per crossing).</p>
<h3 class="heading-19">Unlimited discount</h3>
<p><a href="http://test.dart-charge.co.uk/Registration/RegisterLocalResident?Option=OptionB">Apply for a local residents&#39; unlimited discount</a> (£20 per year).</p>
    {{/column-1}}

{{/layouts/static}}
