{{<layouts/static}}

   {{$h1}}Dart Charge{{/h1}}

    {{$column-1}}
        <p>[Intro]</p>
        <h2 class="heading-24">Register a Dart Charge account</h2>
        <p><a href="/static-content/register-dart-charge">Register a Dart Charge account</a> to access the Crossing at a discounted rate.</p>
        <h2 class="heading-24">Migrate your DART-Tag account</h2>
        <p>If you are an existing DART-Tag account holder, you can <a href="/static-content/migrate-dart-tag">migrate your DART-Tag account</a>.</p>
        <h2 class="heading-24">Apply for a local residents' discount</h2>
        <p>If you live in the Dartford and Thurrock area, you can <a href="/static-content/apply-local-discount">apply for a local residents' discount</a>.</p>
        <h2 class="heading-24">Manage your Dart Charge account</h2>
        <p>Sign in to your <a href="http://test.dart-charge.co.uk/7">Dart Charge account</a> to:</p>
        <ul class="list-bullet">
            <li>Update your account details</li>
            <li>Add or change vehicles</li>
            <li>Check and top up your balance</li>
            <li>Change payment type</li>
            <li>Apply for local residents’ discount</li>
        </ul>

    {{/column-1}}

{{/layouts/static}}
