{{<layouts/static}}

    {{$h1}}Migrate your existing DART-Tag account{{/h1}}

    {{$column-1}}
<p>Your DART-Tag account balance will automatically transfer when the Dart Charge scheme opens. To make sure your account will work under the new payment arrangements, you now need to provide you vehicle details and add a payment card or set up a Direct Debit.</p>
<p>You can choose to add funds to your Dart charge balance when you migrate, please be aware that no funds will be deducted from the account until the scheme goes live later this year.</p>
<h2 class="heading-24">You will need</h2>
<ul class="list-bullet">
    <li>Your Dart-Tag account number</li>
    <li>Personal verification code to migrate your account online (you will receive this from us by email or post)</li>
    <li>Registration number for vehicles(s) you  want to register</li>
    <li>Confirmation of registered payment details</li>
</ul>
<p>If you don’t have a personal verification code, please contact us by phone to verify and migrate your account.</p>
<h2 class="heading-24">Local residents</h2>
<p><a href="http://test.dart-charge.co.uk/Registration/MigrateLocalResidentAccountAuthentication">Migrate a Dart-Tag local resident account</a></p>
<h2 class="heading-24">Non-local residents</h2>
<p><a href="http://test.dart-charge.co.uk/Registration/MigrateNotLocalResidentAccountAuthentication">Migrate a Dart-Tag non-local resident account</a></p>
    {{/column-1}}

{{/layouts/static}}
