{{<layouts/static}}

    {{$h1}}Migrate your DART-Tag account{{/h1}}

    {{$column-1}}
<!-- needs to mention letter and the fact that it will tell you whether to apply for local or not -->
<p>[intro]</p>
<h2 class="heading-24">You will need</h2>
<ul class="list-bullet">
    <li>Your Dart-Tag account number</li>
    <li>Personal verification code to migrate your account online (this will be posted to you)</li>
    <li>Registration number for vehicles(s) you  want to register</li>
    <li>Confirmation of registered payment details</li>
</ul>
<p>If you don’t have a personal verification code, please contact us by phone to verify and migrate your account.</p>
<ul class="list-bullet">
<li><a href="http://test.dart-charge.co.uk/1">[Migrate a Dart-Tag local resident account</a></li>
<li><a href="http://test.dart-charge.co.uk/2">[Migrate a Dart-Tag non-local resident account</a></li>
</ul>
    {{/column-1}}

{{/layouts/static}}
