{{<layouts/static}}

    {{$h1}}Register a Dart Charge account{{/h1}}

    {{$column-1}}
        <p>You can benefit from a discounted rate by registering an account and enjoy worry-free crossings with automatic account top-up service.</p>
        <p>To activate an account you must add a minimum of £10 to your balance when you register.</p>
        <h2 class="heading-24">Standard account</h2>
        <p>Standard accounts are suitable for all customers except for UK registered companies.</p>
        <h3 class="heading-19">You will need</h3>
        <ul class="list-bullet">
            <li>Registration number for vehicles(s) you  want to register</li>
            <li>£10 card payment to activate your account balance</li>
            <li>Payment details for automatic top up and direct debit</li>
        </ul>
        <p><a href="http://test.dart-charge.co.uk/3">Register a Dart Charge standard account</a>.</p>
        <h2 class="heading-24">Commercial account</h2>
        <p>You can apply for a Commercial Account in your registered company’s name.</p>
        <p>This includes account management support and single invoices for multiple vehicles.</p>
        <h3 class="heading-19">You will need</h3>
        <ul class="list-bullet">
            <li>Company name</li>
            <li>Company registration number</li>
            <li>Registration number for vehicles(s) you want to register</li>
            <li>£10 card payment to activate your account balance</li>
            <li>Payment details for automatic top up and direct debit</li>
        </ul>
        <p><a href="http://test.dart-charge.co.uk/4">Register a Dart Charge commercial account</a>.</p>
    {{/column-1}}

{{/layouts/static}}
