{{<layouts/1-column}}

    {{$h1}}Pay penalty charge{{/h1}}

    {{$column-1}}

        <form>
            <div class="js-hidden">
                <fieldset class="form-group" id="vehicles">
                    <p class="form-group">Violation details for penalty charge notice number: 10001XC</p>
                    <table>
                      <thead>
                        <tr>
                          <th>Registration number</th>
                          <th>Class</th>
                          <th>Make</th>
                          <th>Model</th>
                          <th>Colour</th>
                        </tr>
                      </thead>
                      <tbody id="vehicle-list">
                        <tr>
                          <td>GX05DTY</td>
                          <td>B</td>
                          <td>Honda</td>
                          <td>Civic</td>
                          <td>Red</td>
                          <!-- <button></button> -->
                        </tr>
                      </tbody>
                    </table>
                    <table>
                      <thead>
                        <tr>
                            <th>Location</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                      </thead>
                      <tbody id="violation-list">
                        <tr>
                          <td>The A282 Trunk Road Dartford-Thurrock Crossing Northbound</td>
                          <td>8/11/2014</td>
                          <td>14:55</td>
                        </tr>
                      </tbody>
                    </table>
                    <p class="form-force form-group" id="vehicle-add-another">
                    <label class="form-label" for="vehicle-registration">Not your vehicle?</label>
                    <button class="button support" id="not-my-vehicle">Start again</button></p>
                </div>
            </fieldset>
            <fieldset class="inline" id="vehicle-input">
                <p class="form-group">
                    <label class="form-label" for="automatic-start">Penalty charge notice number</label>
                    <input class="form-control form-control-1-4"
                        id="automatic-start"
                        type="text"
                        value="">
                    <p><a href="">What is a penalty charge notice number?</a></p><br>
                    <label class="form-label" for="vehicle-registration">
                        Vehicle registration number
                    </label>
                    <span class="form-hint">
                        Be careful not to mix up the letter 'I' and 'O' with the numbers '1' and '0'.
                    </span>
                    <input class="form-control form-control-1-4 form-control-uppercase" id="vehicle-registration" type="text">
                    <button class="button inline" id="vehicle-add">Find vehicle</button>
                </p>
            </fieldset>
        </form>
            <p><button class="button" id="next" type="submit">Next</button></p>

    {{/column-1}}

    {{$js-functions}}
        func = function() {
            console.log(el.buttonFind);
        }
    {{/js-functions}}

    {{$js-initialisation}}
        init = function() {
            if (window.location.search.match(/=debug/)) {
                el.body.classList.add('debug');
            }
            el.buttonFind.addEventListener('click', function(e) {
                e.preventDefault();
                window.location = 'found-details.html';
            });
        }
    {{/js-initialisation}}

    {{$js-objects}}
        el = {
            body: $('body'),
            buttonFind: $('#vehicle-add')
        }
    {{/js-objects}}

{{/layouts/1-column}}
