{{<layouts/1-column}}

    {{$h1}}Check for paid crossings{{/h1}}

    {{$column-1}}
        <section>
            <p>
            After you’ve made a one-off payment, you can check which crossings you’ve paid for.
            </p>
            <p>
            Please note it can take up to one day for your payment to be matched to crossings</p>
            </p>
        <form>
            <fieldset class="inline" id="transaction-input">
                <div class="form-group">
                    <label class="form-label" for="automatic-start">Payment number</label>
                    <p class="form-hint">
                        This can be found on your payment receipt or confirmation email.
                    </p>
                    <input class="form-control form-control-1-4"
                        id="automatic-start"
                        type="text"
                        value="">
                </div>
                <div class="form-group">
                    <label class="form-label" for="vehicle-registration">
                        Vehicle registration number
                    </label>
                    <input class="form-control form-control-1-4 form-control-uppercase" id="vehicle-registration" type="text">
                </div>
                <div class="form-group">
                    <input class="button" id="next" type="submit" value="Continue">
                </div>
            </fieldset>
        </form>
        </section>   

    {{/column-1}}

    {{$js-functions}}
        func = function() {
            //
        }
    {{/js-functions}}

    {{$js-initialisation}}
        init = function() {
            el.buttonSignIn.addEventListener('click', function(e) {
                e.preventDefault();
                window.location = '/check-paid-crossings/show';
            });
        }
    {{/js-initialisation}}

    {{$js-objects}}
        el = {
            buttonSignIn: $('#next')
        }
    {{/js-objects}}

{{/layouts/1-column}}
