{{<layouts/1-column}}

    {{$h1}}Sign up complete{{/h1}}

    {{$column-1}}

        <h2>Please check your email.</h2>
        <p>We've sent you a link that you need to click to verify your email address and activate your account.</p>
        <p>You'll need to use this link within 24 hours, or enter your details again.</p>
        <p>If you haven't received the email within a few minutes, please check your spam, bulk or junk email folder – it may have been mistakenly blocked by your email system.</p>
        <p>If you've already activated your account, you can <a href="/forward/signin">sign in now</a>.</p>
        <div class="lpa-footer inner">
            <hr>
            <p>Your <a href="/feedback">feedback</a> will help us to improve  <span style="float:right"><a target="_blank" href="/terms-and-conditions/">Terms and conditions</a></span></p>
        </div>

    {{/column-1}}

    {{$js-functions}}

    {{/js-functions}}

    {{$js-initialisation}}

    {{/js-initialisation}}

    {{$js-objects}}

    {{/js-objects}}

{{/layouts/1-column}}
