{{<layouts/2-column}}

	{{$h1}}Summary{{/h1}}

	{{$column-1}}
        <p>Your Dart Charge account has been successfully created.</p>
        <p>Here's a summary of the information you provided:</p>
	{{/column-1}}

	{{$js-functions}}
		func = function() {
			console.log(el.buttonNext);
		}
	{{/js-functions}}

	{{$js-initialisation}}
		init = function() {
			el.body.addEventListener('click', function() {
				func();
			}, false);
		}
	{{/js-initialisation}}

	{{$js-objects}}
		el = {
			body: $('body'),
			buttonNext: $('#next')
		}
	{{/js-objects}}

{{/layouts/2-column}}
