{{<layouts/2-column}}

	{{$h1}}Summary{{/h1}}

	{{$column-1}}

   <form>
        <fieldset>
            <div class="confirmation-message form-group">
                <div class="confirmation-text">
                    <h2 class="heading-medium">
                        Your Dart Charge account is created successfully
                    </h2>
                    <h2 class="heading-medium">
                        Your account number is:
                    </h2>
                    <h2 class="heading-medium">
                        1000055102
                    </h2>
                    <h2 class="heading-medium">
                        Your payment confirmation number:
                    </h2>
                    <h2 class="heading-medium">
                        525903
                    </h2>
                </div>
            </div>
            <p class="lead">
                Confirmation email and welcome pack is sent to you by email.
            </p>
            <h4 class="heading-19">
                What's next?
            </h4>
            <ul class="list-bullet">
                <li>
                    <p>
                        Your account will be used to pay for crossings when the Dart Charge scheme commences. Until then, you will still need to pay at the crossing. 
                    </p>
                </li>
                <li>
                    <p>
                         <a href='/Security/SignIn?target=_parent'>Log in into your account</a> 
                         to add vehicles, change payment arrangements and update your personal information.
                    </p>
                </li>
            </ul>
            
            <h3 class="heading-19">
                Anything you need to know?
            </h3>
            <p>
                If you have any questions about your application, contact <a href='http://www.gov.uk/dart-charge'>Dart Charge</a>.
            </p>
        </fieldset>
    </form><!--Comment this section since this is needed to be run from within the site -->



	{{/column-1}}

	{{$js-functions}}
		func = function() {
			console.log(el.buttonNext);
		}
	{{/js-functions}}

	{{$js-initialisation}}
		init = function() {
			el.body.addEventListener('click', function() {
				func();
			}, false);
		}
	{{/js-initialisation}}

	{{$js-objects}}
		el = {
			body: $('body'),
			buttonNext: $('#next')
		}
	{{/js-objects}}

{{/layouts/2-column}}
