{{<layouts/2-column}}

	{{$h1}}Summary{{/h1}}

	{{$column-1}}

   <form>
        <fieldset>
            <div class="confirmation-message form-group">
                <div class="confirmation-text">
                   
                        <p>Your Dart Charge account is created successfully</p>
                    
                        <p>Your account number is:</p>
                   
                        <p>1000055102</p>
                    
                        <p>Your payment confirmation number:</p>
                    
                        <p>525903</p>
                </div>
            </div>
            <p>
                Confirmation email and welcome pack will be sent to your email.
            </p>
            <h2 class="heading-19">
                What's next?
            </h2>
            <ul class="list-bullet list-bullet-summary">
                <li>
                    <p>
                         <a href='/account/sign-in/'>Log in into your account</a> <!-- href='/account/sign-in?target=_parent'-->
                         to add vehicles, change payment arrangements and update your personal information.
                    </p>
                </li>
            </ul>
            
            <h2 class="heading-19">
                Anything you need to know?
            </h2>
            <p>
                If you have any questions about your application, contact <a href='http://www.gov.uk/dart-charge'>Dart Charge</a>.
            </p>
        </fieldset>
    </form><!--Comment this section since this is needed to be run from within the site -->



	{{/column-1}}

	{{$js-functions}}
		func = function() {
			console.log(el.buttonNext);
		}
	{{/js-functions}}

	{{$js-initialisation}}
		init = function() {
			el.body.addEventListener('click', function() {
				func();
			}, false);
		}
	{{/js-initialisation}}

	{{$js-objects}}
		el = {
			body: $('body'),
			buttonNext: $('#next')
		}
	{{/js-objects}}

{{/layouts/2-column}}
