{{<layouts/1-column}}

    {{$h1}}Forgot your Dart Charge account password?{{/h1}}

    {{$column-1}}
        <div class="inner">
            <h2 class="heading-24">Thank you</h2>
                <p>We've emailed a link to <strong>signuphere@gmail.com</strong> so that you can reset your password.</p>
                <p>If you haven't received the email within a few minutes, please check your spam, bulk or junk email folder – it may have been mistakenly blocked by your email system.</p>
                <p>If it doesn't arrive at all, please check that you've given us the correct email address for your existing Dart Charge account – we'll only send a password reset link to the email address belonging to an account.</p>
                <p><a href="sign-in">Sign in</a></p>
        </div>
            {{/column-1}}

        {{/layouts/1-column}}
