{{<layouts/1-column}}

    {{$h1}}Forgot your Dart Charge account password?{{/h1}}

    {{$column-1}}
        <form action="forgot-password-confirmation.html">
            <p class="form-group">Type in your email address and we'll sort you out.</p>
            <p class="form-group">
                <label class="form-label" for="email-address">Email address</label>
                <input class="form-control form-control-1-2" id="email-address" type="email">
            </p>
            <p><button class="button" id="next" type="submit">Send</button></p>
        </form>
    {{/column-1}}

{{/layouts/1-column}}
