{{<layouts/account}}

	{{$h1}}Account home{{/h1}}

	{{$column-1}}
		<p>Lucy Smith</p>
		<h2 class="heading-19">Vehicles</h2>
		<p class="lead">GK56NYC <a href="" class="copy-16">Add or change vehicles</a></p>
		<h3 class="heading-19">Balance</h3>
		<p class="data-48">£18.33 &ndash; 10 crossings</p>
		<p>You are paying by top-up.</p>
        <p><button class="button" id="next" type="submit">Top-up now</button></p>
        <legend class="heading-24">Crossings history</legend>
        <table>
        	<tbody>
        		<tr>
        			<td>24 October 2014</td>
        			<td>1:45pm</td>
        			<td>3:37pm</td>
        		</tr>
        		<tr>
        			<td>19 October 2014</td>
        			<td>11:01am</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        		</tr>
        		<tr>
        			<td>5 October 2014</td>
        			<td>9:07am</td>
        			<td>1:03pm</td>
        			<td>7:12pm</td>
        			<td>9:03pm</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        		</tr>
        	</tbody>
        </table><br>
        <p><button class="button support" id="not-my-vehicle">Show all</button></p>
		<legend class="heading-24">Payment history</legend>
        <table class="account">
            <tbody>
            	<tr>
                	<td>20 October 2014</td>
                	<td>£10</td>
                	<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
                </tr>
                <tr>
                	<td>5 October 2014</td>
                	<td>£10</td>
                	<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
                </tr>
                <tr>
                	<td>1 November 2014</td>
                	<td>£10</td>
                	<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
                </tr>
            </tbody>
        </table><br>
        <p><button class="button support" id="not-my-vehicle">Show all</button></p>

	{{/column-1}}

	{{$column-2}}
		<h2>Manage your account</h2>
		<ul>
			<li><a href="">Top up now</a></li>
			<li><a href="">Change payment details</a></li>
			<li><a href="">Add or change vehicles</a></li>
			<li><a href="">Apply for local resident's discount</a></li>
		</ul>
		<ul>
			<li>Account holder<br>Lucy Smith</li>
			<li>Account number<br>1000068960</li>
			<li>Account type <br>Standard</li>
			<li>Top up method <br>Manual</li>
		</ul>
	{{/column-2}}

{{/layouts/account}}
