{{<layouts/2-column}}

	{{$h1}}My Account{{/h1}}

	{{$column-1}}
		<hr>
		<p class="copy-16">Balance</p>
		<p class="data-48">18.33 &ndash; 10 crossings</p>
		<p>You are paying by top-up.</p>
        <p><button class="button" id="next" type="submit">Top-up now</button></p>
        <h4 id="">Crossing history</h4>
        <table>
        	<thead>
        		<tr>
        			<th>&nbsp;</th>
        			<th>Northbound</th>
        			<th>Soutbound</th>
        			<th>&nbsp;</th>
        			<th>&nbsp;</th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr>
        			<td>24 October 2014</td>
        			<td>1:45pm</td>
        			<td>3:37pm</td>
        			<th>&nbsp;</th>
        			<th>&nbsp;</th>
        		</tr>
        		<tr>
        			<td>19 October 2014</td>
        			<td>10:01pm</td>
        			<td>&nbsp;</td>
        			<th>&nbsp;</th>
        			<th>&nbsp;</th>
        		</tr>
        		<tr>
        			<td>5 October 2014</td>
        			<td>3:47pm</td>
        			<td>11:03pm</td>
        			<th>&nbsp;</th>
        			<th>&nbsp;</th>
        		</tr>
        	</tbody>
        </table>




        <legend class="">Crossing history</legend>
        <table class="account">
            <tbody>
            	<tr>
                	<td>24 October 2014</td>
                	<td>1:45pm<br>3:37pm</td>
                </tr>
                <tr>
                	<td>19 October 2014</td>
                	<td>10:01pm</td>
                </tr>
                <tr>
                	<td>5 October 2014</td>
                	<td>3:45pm<br>11:03pm</td>
                </tr>
            </tbody>
        </table>
        <legend class="">Crossing history</legend>
        <table class="account">
            <tbody>
            	<tr>
                	<td>24 October 2014</td>
                	<td>1:45pm<br>3:37pm</td>
                </tr>
                <tr>
                	<td>19 October 2014</td>
                	<td>10:01pm</td>
                </tr>
                <tr>
                	<td>5 October 2014</td>
                	<td>3:45pm<br>11:03pm</td>
                </tr>
            </tbody>
        </table>
	{{/column-1}}

	{{$column-2}}
		<ul>
			<li><a href="">Top up your account</a></li>
			<li><a href="">View account history</a></li>
			<li><a href="">Personal details</a></li>
			<li><a href="">Vehicle details</a></li>
			<li><a href="">Payment details</a></li>
			<li><a href="">Account details</a></li>
		</ul>
	{{/column-2}}

{{/layouts/2-column}}
