{{<layouts/1-column}}
    {{$h1}}Your details{{/h1}}

    {{$column-1}}
                <ul class="page-nav">
                    <li><a href="#section1">Update your details</a></li>
                    <li><a href="#section2">Add or change vehicles</a></li>
                    <li><a href="#section3">Change your sign-in email address</a></li>
                    <li><a href="#section4">Change your password</a></li>
                    <li><a href="#section5">Change your PIN</a></li>
                    <li><a href="#section6">Change your payment details</a></li>
                    <li><a href="#section7">Close your account</a></li>
                </ul>
                <hr>
                <h2 class="heading-24" id="section1">Update your details</h2>
                <style>
                    p.success_message {background-color: #FFF3CF; border: 1px solid #B01117; color: #B01117; margin: 0 0 -0.5em -0.5em; padding: 0.5em;}
                    p.error_message {background-color: #AA0000; border: 1px solid #B01117; color: #FFF3CF; margin: 0 0 -0.5em -0.5em; padding: 0.5em;}
                </style>
                <div class="form">
                    <form autcomplete="off" class="form" name="update-your-details" action="/user/account#update" method="POST">
                        <input class="form-control" type="hidden" name="csrf" value="9888df81c093c4254e9120bb8bbced63" id="csrf">
                    </form>
                </div>
                <hr>
                <h2 class="heading-24" id="section2">Add or change vehicles</h2>
                <hr>
                <h2 class="heading-24" id="section3">Change your sign-in email address</h2>
                <div class="form">
                    <form autcomplete="off" class="form" name="change-your-email" action="/user/account" method="POST">
                        <div class="form-group">
                            <label for="email" class="form-label optional">Current email address</label>
                            <input class="form-control form-control-3-4" type="email" name="email" id="email" value="yasheen@gmail.com" autocomplete="off" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label for="cur_password" class="form-label required">Your account password</label>
                            <input class="form-control" type="password" name="cur_password" id="cur_password" value="" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="new_email" class="form-label equired">New email address</label>
                            <input class="form-control form-control-3-4" type="email" name="new_email" id="new_email" value="" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="email_confirm" class="form-label required">Re-enter new email address</label>
                            <input class="form-control form-control-3-4" type="email" name="email_confirm" id="email_confirm" value="" renderpassword="" autocomplete="off">
                        </div>
                        <p class="action group">
                            <input type="submit" name="submitemail" id="submitemail" value="Save new email address" class="button">
                        </p>
                    </form>
                </div>
                <hr>
                <h2 class="heading-24" id="section4">Change your password</h2>
                <div class="form">
                    <form autcomplete="off" name="change-your-password" class="form" action="/user/account" method="POST">
                    <input type="hidden" name="csrf" value="775df7a142b633541368599ecbccc045" id="csrf">        
                        <div class="form-group">
                            <label for="cur_password" class="form-label required">Current password</label>
                            <input class="form-control" type="password" name="cur_password" id="cur_password" value="" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="new_password" class="form-label required">New password</label>
                            <input class="form-control" type="password" name="new_password" id="new_password" value="" class="user-password" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="password_confirm" class="form-label required">Re-enter new password</label>
                            <input class="form-control" type="password" name="password_confirm" id="password_confirm" value="" autocomplete="off">
                        </div>
                        <div class="form-group form-hint">
                            <label class="form-label" for="password">Password</label>
                            <ul class="list-bullet">
                                <li>must begin with a letter</li>
                                <li>contain at least 1 digit</li>
                                <li>be at least 8 characters long</li>
                            </ul>
                        </div>
                        <p class="action group">
                            <input type="submit" name="submitpassword" id="submitpassword" value="Save new password" class="button">
                        </p>
                    </form>
                </div>
                <hr>
                <h2 class="heading-24" id="section5">Change your PIN</h2>
                <div class="form-group">
                    <label class="form-label" for="ivr-pin">PIN</label>
                    <input class="form-control form-restriction-1-16" maxlength="1" id="ivr-pin" type="text">
                    <input class="form-control form-restriction-1-16" maxlength="1" id="ivr-pin-1" type="text">
                    <input class="form-control form-restriction-1-16" maxlength="1" id="ivr-pin-2" type="text">
                    <input class="form-control form-restriction-1-16" maxlength="1" id="ivr-pin-3" type="text">
                </div>
                <div class="form-group form-hint">
                    <p>Use your PIN to verify your identity if you contact us by phone.</p>
                </div>
                <hr>
                <h2 class="heading-24" id="section6">Change your payment details</h2>
                <hr>
                <h2 class="heading-24" id="section7">Close your account</h2>
                <p>Please contact Dart Charge to receive a refund of your account balance.</p>
                <div class="contact">
                    <p><strong>Dart Charge</strong><br>
                    Telephone: 0300 3000 120 (+44 300 300 0120 from abroad)<br>
                    <!-- Textphone: <br>
                    <!-- Monday to Friday, 8am to 7pm<br>
                    Saturday, 8am to 2pm<br>
                    Fax: 0300 123 0798<br> -->
                    <a href="../call-charges">Find out about call charges</a></p>
                </div>
                <p>Or write to:</p>
                <div class="address">
                    <div class="adr org fn">
                    <p><strong>Dart Charge</strong><br>
                    PO Box 842<br>
                    LEEDS<br>
                    LS1 9QF</p>
                    </div>
                </div>


    {{/column-1}}

    {{$js-functions}}
        showAddresses = function() {
            setDisplay(el.address, true);
            var addressValues = el.addressFound[el.addressFound.selectedIndex].text.split(',');
            el.addressOne.value = addressValues[0];
            el.townCity.value = addressValues[1];
            setDisplay(el.addressDetail, true);
        },
        showAddressForm = function(target) {
            if (target.checked == true) {
                setDisplay(el.addressDetail, true);
            } else {
                setDisplay(el.addressDetail, false);
            }
        },
        setAddress = function(target) {
            var addressValues = target[target.selectedIndex].text.split(',');
            el.addressOne.value = addressValues[0];
            el.townCity.value = addressValues[1];
        },
        testCompany = function(target) {
            if (target.checked == true) {
                setDisplay(el.company, true);
            } else {
                setDisplay(el.company, false);
                el.companyNumber.value = '';
            }
        },
        testLocal = function(target) {
            if (el.discountInvite) {
                var postcode = target.value.toUpperCase();
                if (postcode.match(/^(BR8|CM13|DA(1[01347]*|[23459])|RM(1[456789]|20)|SS1[67])\s*\d[A-Z]{2}$/)) {
                    setDisplay(el.discountInvite, true);
                } else {
                    setDisplay(el.discountInvite, false);
                }
            }
        }
    {{/js-functions}}

    {{$js-initialisation}}
        init = function() {
            if (window.location.search.match(/=debug/)) {
                el.body.classList.add('debug');
            }
            el.addressFound.addEventListener('change',function(e) {
                setAddress(e.target);
            });
            el.addressNotFound.addEventListener('click', function(e) {
                showAddressForm(e.target);
            }, false);
            el.behalfCompany.addEventListener('change', function(e) {
                testCompany(e.target);
            }, false);
            el.buttonNext.addEventListener('click', function(e) {
                e.preventDefault();
                if (el.localDiscount.checked) {
                    window.location = './personal/account-setup-LRDS';
                } else {
                    window.location = './personal/account-setup';
                }
            });
            el.findAddress.addEventListener('click', function(e) {
                e.preventDefault();
                showAddresses();
                setDisabled(el.buttonNext, false);
                testLocal(el.postcode);
            }, false);
            el.findCompany.addEventListener('click', function(e) {
                e.preventDefault();
            }, false);
        }
    {{/js-initialisation}}

    {{$js-objects}}
        el = {
            address: $('#address'),
            addressOne: $('#address-1'),
            addressTwo: $('#address-2'),
            addressDetail: $('#address-detail'),
            addressFound: $('#address-found'),
            addressNotFound: $('#address-not-found'),
            body: $('body'),
            buttonNext: $('#next'),
            behalfCompany: $('#behalf-of-company'),
            company: $('#company'),
            companyNumber: $('#company-number'),
            discountInvite: $('#discount-invite'),
            findAddress: $('#find-address'),
            findCompany: $('#find-company'),
            localDiscount: $('#local-discount'),
            postcode: $('#postcode'),
            townCity: $('#town-city')
        }
    {{/js-objects}}

{{/layouts/1-column}}
