{{<layouts/2-column}}

    {{$h1}}Register Dart Charge Account{{/h1}}

    {{$column-1}}
        <div class="beta-label">
          <span class="beta">beta</span> This part of GOV.UK is being rebuilt – <a href="/help/beta"> find out what this means</a>
        </div>
        <section class="intro">
            <p>
                You can setup an account to save on crossing fee or automate your payment. The fee will depend on the account you choose.
            </p>
            <p>
                Use the Dart Charge service to:
            </p>
            <ul class="list-bullet">
                <li>Register  a new Pre-Pay standard or commercial account</li>
                <li>Register a new Pay-as-you-Go account</li>
                <li>Transfer your DART-Tag account to a Dart Charge account</li>
                <li>Apply for a local resident discount</li>
            </ul>
            <p class="visuallyhidden"><a href="#what-you-need-to-know">What you need to know</a></p>
            <p id="get-started" class="get-started group">
                <a href="account/setup/dart-tag" rel="external" data-transaction-slug="pay-dartford-crossing-charge" class="button">
                    Start now
                </a>
            </p>
            <p>Set up a standard or commercial account by phone</p>
            <p>
                Dart Charge</br>
                Telephone: 0300 3000 120</br>
                Find out about call charges</br>
            </p>

        </section>
    {{/column-1}}

    {{$column-2}}
            <h2></h2>
            <ul>
                <li><a href="/fees-exemptions-penalties/" rel="" data-transaction-slug="">Dartford Crossing fees, exemptions and penalties
                </a>
                </li>
                <li><a href="/penalty/" rel="" data-transaction-slug="">Pay a penalty charge</a>
                </li>
                <li><a href="/" rel="" data-transaction-slug="">Pay for crossings</a>
                </li>
                <li><a href="/penalty/" rel="" data-transaction-slug="">Check for paid crossings</a>
                </li>
                <li><a href="/account/sign-in/" rel="" data-transaction-slug="">Sign in to manage your account</a>
                </li>
                <li><a href="/penalty/" rel="" data-transaction-slug="">Fees, penalties, and exemptions</a>
                </li>
                <li><a href="/penalty/" rel="" data-transaction-slug="">More information about Dart Charge</a>
                </li>

            </ul>

    {{/column-2}}

    {{$js-functions}}
        func = function() {
            //
        }
    {{/js-functions}}

    {{$js-initialisation}}
        init = function() {
            el.buttonSignIn.addEventListener('click', function(e) {
                e.preventDefault();
                window.location = 'account';
            });
        }
    {{/js-initialisation}}

    {{$js-objects}}
        el = {
            buttonSignIn: $('#sign-in')
        }
    {{/js-objects}}

{{/layouts/2-column}}
