{{<layouts/2-column}}

	{{$h1}}Dart Charge{{/h1}}

	{{$column-1}}
		<p>[Intro and overview content...]</p>
		<h2 class="heading-24">Set up your account</h2>
		<p><a class="button button-get-started" href="account/setup/dart-tag">Start</a></p>
	{{/column-1}}

	{{$column-2}}
		<h2 class="heading-24">Guides</h2>
		<ul>
			<li><a href="">Pricing information</a></li>
			<li><a href="">DART Tag account holders</a></li>
			<li><a href="">Local residents</a></li>
			<li><a href="">Company accounts</a></li>
		</ul>
	{{/column-2}}

{{/layouts/2-column}}
