{{<layouts/2-column}}

    {{$h1}}Pay the Dartford crossing charge{{/h1}}

    {{$column-1}}
        <div class="beta-label">
          <span class="beta">beta</span> This part of GOV.UK is being rebuilt – <a href="/help/beta"> find out what this means</a>
        </div>
        <section class="intro">
            <p>
                You must pay to use the Dartford Crossing between 6am and 10pm. You must pay by midnight the day after you cross.  The fee depends on your vehicle type.
            </p>
            <p>
                Use this service to pay for crossing:
            </p>
            <p class="visuallyhidden"><a href="#what-you-need-to-know">What you need to know</a></p>
            <p id="get-started" class="get-started group">
                <a href="account/setup/one-off" rel="external" data-transaction-slug="pay-dartford-crossing-charge" class="button">
                    Start now
                </a>
            </p>
            <h2 class="heading-24">Before you start, you will need:</h2>
            <ul class="list-bullet">
                <li>Car registration number</li>
                <li>Payment details</li>
                <li>Email address</li>
            </ul>
            <p class="panel-indent">
                You can register an account to get discounted fee or streamline the payment process. Dart Tag Account holders need to transfer their accounts. <a href="account-setup">Register or transfer your Dart Tag.</a>
            </p>

        </section>
    {{/column-1}}

    {{$column-2}}
            <h2></h2>
            <ul>
                <li><a href="/fees-exemptions-penalties/" rel="" data-transaction-slug="">Dartford Crossing fees, exemptions and penalties
                </a>
                </li>
                <li><a href="/penalty/" rel="" data-transaction-slug="">Pay a penalty charge</a>
                </li>
                <li><a href="/penalty/" rel="" data-transaction-slug="">Check for paid crossings</a>
                </li>
                <li><a href="account-setup" rel="" data-transaction-slug="">Register or transfer your DartTag account</a>
                </li>
                <li><a href="/account/sign-in/" rel="" data-transaction-slug="">Sign in to manage your account</a>
                </li>
                <li><a href="/penalty/" rel="" data-transaction-slug="">Contact DartCharge</a>
                </li>
            </ul>

    {{/column-2}}

    {{$js-functions}}
        func = function() {
            //
        }
    {{/js-functions}}

    {{$js-initialisation}}
        init = function() {
            el.buttonSignIn.addEventListener('click', function(e) {
                e.preventDefault();
                window.location = 'account';
            });
        }
    {{/js-initialisation}}

    {{$js-objects}}
        el = {
            buttonSignIn: $('#sign-in')
        }
    {{/js-objects}}

{{/layouts/2-column}}
