{{<layouts/start}}

	{{$h1}}Sign in{{/h1}}

	{{$column-1}}
        <form action="/account">
            <p class="form-group mini">
                <label class="form-label" for="dart-account">Email address</label>
                <input class="form-control form-control-1" id="dart-account" type="email" />
            </p>
            <p class="form-group mini">
                <label class="form-label" for="dart-verification">Password</label>
                <input class="form-control form-control-1" id="dart-verification" type="password" />
            </p>
            <p class="form-group">
                <a href="../forgot-password">Forgot your password?</a>
            </p>
            <p class="form-group"><button class="button" id="sign-in" type="submit">Sign in</button></p>
        </form>
	{{/column-1}}

    {{$js-functions}}
        func = function() {
            console.log(el.buttonNext);
        }
    {{/js-functions}}

    {{$js-initialisation}}
        init = function() {
            if (window.location.search.match(/=debug/)) {
                el.body.classList.add('debug');
            }
            el.buttonNext.addEventListener('click', function(e) {
                e.preventDefault();
                window.location = './user/personal-standard';
            });
        }
    {{/js-initialisation}}

    {{$js-objects}}
        el = {
            body: $('body'),
            buttonNext: $('#sign-in')
        }
    {{/js-objects}}

{{/layouts/start}}
