{{<govuk_template}}

    {{$head}}
        {{>includes/css}}
    {{/head}}

    {{$content}}
        <main id="wrapper" role="main">
            <div id="content">
                <div class="inner-block">
                    <div class="phase-banner">
                        <p>
                            <strong class="phase-tag">{{>includes/phase}}</strong>
                            <span>This is a new service – your <a href="mailto:webfeedback@sanefoperations.co.uk">feedback</a> will help us to improve it.</span>
                        </p>
                    </div>
                    {{$account-nav}}{{/account-nav}}
                </div>
                <div class="inner-block">
                    <h1 class="heading-36">{{$h1}}{{/h1}}</h1>
                </div>
                <div class="grid-wrapper">
                    <div class="grid grid-2-3">

                        <div class="inner-block">

                            {{$column-1}}{{/column-1}}

                        </div>
                    </div>
                </div>
            </div><!-- / #content -->
        </main>
    {{/content}}

    {{$footerSupportLinks}}
        <ul>
            <li>
                <a href="/Help">Help</a>
            </li>
            <li>
                <a href="/Static/Cookies">Cookies</a>
            </li>
            <li>
                    <a href="/Static/ContactUsUnauthenticatedUser">Contact Us</a>    
            </li>
            <li>
                <a href="/Static/TermsAndConditions">Terms and conditions</a>
            </li>
        </ul>
    {{/footerSupportLinks}}

    {{$bodyEnd}}
    
        {{>includes/js}}

        {{$pageScript}}{{/pageScript}}

    {{/bodyEnd}}


{{/govuk_template}}
