{{<govuk_template}}

    {{$head}}
        {{>includes/css}}
    {{/head}}

    {{$insideHeader}}
        <div class="header-proposition">
        <div class="content">
          <nav id="proposition-menu">
             <span class="home"><a href="/home" id="proposition-name">Your Dart Charge account</a> &nbsp;<strong class="phase-tag">BETA</strong></span>
             <ul class="inline-list">
                 <li><a href="index.html">Account home</a></li>
                 <li><a href="your-details.html">Your details</a></li>
                 <li><a href="">Contact Dart Charge</a></li>
                 <li><a href="">Sign out</a></li>
             </ul>
          </nav>
        </div>
      </div>
    {{/insideHeader}}

    {{$content}}
        <main id="wrapper" role="main">
            <div id="content">
                <div class="inner-block">
                    <div class="phase-banner">
                        <p>
                            <strong class="phase-tag">BETA</strong>
                            <span>This is a new service – your <a href="mailto:webfeedback@sanefoperations.co.uk">feedback</a> will help us to improve it.</span>
                        </p>
                    </div>
                </div>
                <div class="inner-block">
                    <h1 class="heading-36">{{$h1}}{{/h1}}</h1>
                </div>
                <div class="grid-wrapper">
                    <div class="grid grid-2-3">

                        <div class="inner-block">

                            {{$column-1}}{{/column-1}}

                        </div>
                    </div>
                    <div class="grid grid-1-3">
                        <div class="inner-block">
                            <div class="related">

                                {{$column-2}}{{/column-2}}

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- / #content -->
        </main>
    {{/content}}

    {{$bodyEnd}}
        {{>includes/js}}
    {{/bodyEnd}}

{{/govuk_template}}
