{{<govuk_template}}

    {{$head}}
        {{>includes/css}}
    {{/head}}

    {{$content}}
        <main id="wrapper" role="main">
            <div id="content">
                <div class="inner-block">
                    <div class="phase-banner">
                        <p>
                            <strong class="phase-tag">BETA</strong>
                            <span>This is a new service – your <a href="mailto:webfeedback@sanefoperations.co.uk">feedback</a> will help us to improve it.</span>
                        </p>
                    </div>
                    <div class="js-toggle-nav phase-banner" id="global-nav">
                        <nav role="navigation" class="content">
                            <ul id="navigation">
                                <li class="user">Lucy Shaw</li>
                                <li><a href="../">Account home</a>
                                </li>
                                <li><a href="/your-details">Your details</a>
                                </li>
                                <li><a href="/user/logout">Sign out</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="inner-block">
                    <h1 class="heading-36">{{$h1}}{{/h1}}</h1>
                </div>
                <div class="grid-wrapper">
                    <div class="grid grid-1-3">

                        <div class="inner-block account-column-1">

                            {{$column-1}}{{/column-1}}

                        </div>
                    </div>
                    <div class="grid grid-2-3">
                        <div class="inner-block account-column-2">

                                {{$column-2}}{{/column-2}}

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- / #content -->
        </main>
    {{/content}}

    {{$bodyEnd}}
        {{>includes/js}}
    {{/bodyEnd}}

{{/govuk_template}}
