{{<govuk_template}}

    {{$head}}
        {{>includes/css}}
    {{/head}}

    {{$content}}
        <main id="wrapper" role="main">
            <div id="content">
                <div class="inner-block">
                    {{>includes/phase}}
                </div>
                <div class="inner-block">
                    <h1 class="heading-36">{{$h1}}{{/h1}}</h1>
                </div>
                <div class="grid-wrapper">
                    <div class="grid grid-2-3">

                        <div class="inner-block">

                            {{$column-1}}{{/column-1}}

                        </div>
                    </div>
                </div>
            </div><!-- / #content -->
        </main>
    {{/content}}

{{/govuk_template}}
